<div class="zoomin zoom-btn {{if inDisabled 'disabled'}}" title="Zoom in" {{action 'zoomIn'}}>
  <div class="image-container">
    <img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false">
  </div>
</div>
<div class="divider"></div>
<div class="zoomout zoom-btn {{if outDisabled 'disabled'}}" title="Zoom out" {{action 'zoomOut'}}>
  <div class="image-container">
    <img src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl_hdpi.png" draggable="false">
  </div>
</div>
