body {
  background-color: #eee;
}

#map {
  position: absolute !important;
  top: 70px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  height: 400px;
}

.knownasilya--google-maps-zoom {
  position: absolute;
  top: 80px;
  right: 20px;
}
